.img1 {
  background: url(images/cea2.jpeg) no-repeat center center fixed;
  background-size: 1200px;
  height: 600px;


}

main {
  color: #241b1b;
  background-image: linear-gradient(rgb(149, 148, 194), rgb(183, 124, 79), rgb(211,211,211));
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-image: linear-gradient(rgb(186, 163, 104), rgb(24, 46, 63));
}

nav {
  background-image:linear-gradient(rgb(73, 73, 122),rgb(23, 20, 41)); 
  height: 50px;
}

nav a {
  color: #fff;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
footer{
  background-color: rgb(12, 67, 27);
  height: 100px;
}
.rect1,
.rect2,
.rect3,
.rect4,
.rect5 {
  width: 6px;
  height: 30px;
  margin-right: 3px;
  background-color: #f8b195;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.rect2 {
  animation-delay: -1.1s;
}

.rect3 {
  animation-delay: -1.0s;
}

.rect4 {
  animation-delay: -0.9s;
}

.rect5 {
  animation-delay: -0.8s;
}

.loading-title {
  color: #f8b195;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

@keyframes stretchdelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
  }
}


.border1{

border-style:solid;
  border-width:5px;
  background: linear-gradient(to right, red, purple);
  padding: 30px;
  margin: 30px;
}
.border2{

 border-style: upset;
 padding: 20px;
 margin: 15px;
 background: linear-gradient(to right, blue, white);
 padding:5px;
}

.module {
 background: #222;
 color: white;
 padding: 2rem; }
